<section>
  <fieldset>
    <legend>Create Book</legend>

    <div *ngIf='errors.length'>
      <p *ngFor='let error of errors' class="alert alert-danger">
        {{ error }}
      </p>
    </div>

    <!-- using the new book form component -->
    <app-book-form [book]='book' (bookEvent)='createBook($event)'>
      <!--
        projecting the button into the form component
        without 'ng-content' in the form the button would not display
      -->
      <button>Submit</button>
    </app-book-form>
  </fieldset>
</section>
